<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">
                    <font color="#FF0000">S</font>istema de<br/>
                    <font color="#FF0000">C</font>omunicação<br/>
                    <font color="#FF0000">I</font>nteligente
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <% if not user_signed_in? %>
        <hr/>
        <div class="row">
            <div class="col-sm-8">
                <h2>O que é?</h2>
                <p>Um sistema desenhado para ajudar em suas dúvidas.</p>
                <p>Faça perguntas, começe discussões no fórum, e crie artigos que ajudaram outros!</p>
                <br/>            
                <p>"Nenhum talento individual por maior que seja será maior que o esforço coletivo de todos."</p>
                <br/>            
            </div>
            <div class="col-sm-4">
                <h2><%= t('contact_us') %></h2>
                <address>
                    <strong>NSI / By Soft</strong>
                    <br/> (19) 3445.6500
                    <br/><a href="mailto:#">comercial@ecomex.com.br</a>
                    <br/>Rua Carlos Gomes, 1321 – 3º Andar Pátio Office – Centro – Limeira/SP CEP 13.480-013
                    <br/>
                </address>
            </div>
        </div>
    <!-- /.row -->
    <% else %>    
        <hr>
        <center>
        <p>
            <%= form_tag(articles_path, :method => :get) do %>
              <%= text_field_tag 'search', nil, class: "btn btn-default btn-lg" %>
              <%= submit_tag "Buscar &raquo;".html_safe, class: "btn btn-default btn-lg" %>
            <% end %>        
        </p>
        <hr/>
        <hr/>
        </center>
        <div class="row">
            <div class="col-sm-4">
                <h2><%= @articles.count %></h2>artigos no sistema.
            </div>
            <div class="col-sm-4">
                <h2><%= @articles.where(user_id: current_user.id).count %></h2>artigos que criei.
            </div>
            <div class="col-sm-4">
                <h2><%= @article_likes.where(user_id: current_user.id).count %></h2>artigos que me ajudaram.
            </div>
        </div>
    <% end %>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; NSI / By Soft 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
