<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @relationship.article %>
</p>

<p>
  <strong>Taxonomy:</strong>
  <%= @relationship.taxonomy %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
