<% if user_signed_in? %>
  <li><%= link_to t('.title', :default => Article.model_name.human.pluralize.titleize), articles_path %></li>
  <li><%= link_to t('.title', :default => Taxonomy.model_name.human.pluralize.titleize), taxonomies_path %></li>
  <li><%= link_to t('edit_account'), edit_user_registration_path %></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('sign_in'), new_user_session_path %></li>
  <li><%= link_to t('sign_up'), new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to t('.title', :default => User.model_name.human.pluralize.titleize), users_path %></li>
<% end %>
